{
  "presets": [["@babel/env", { "modules": false }]],
  "plugins": [
    ["add-module-exports", { "addDefaultProperty": true }],
    "@babel/plugin-transform-strict-mode",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-json-strings"
  ]
}
