{
  "extends": "nebenan-base",
  "overrides": [{
    "files": ["**/test/*.js"],
    "env": {
      "mocha": true
    },
    "rules": {
      "no-unused-expressions": "off"
    }
  }],
  "rules": {
    "import/extensions": [
      "error",
      {
        "js": "ignorePackages"
      }
    ]
  }
}
