{
  "extends": "nebenan",
  "overrides": [
    {
      "files": [
        "test/**/*"
      ],
      "env": {
        "mocha": true
      },
      "rules": {
        "no-unused-expressions": "off"
      },
      "parserOptions": {
        "project": [
          "./tsconfig.json"
        ]
      }
    },
    {
      "files": [
        "**/*.ts",
        "**/*.tsx"
      ],
      "extends": [
        "nebenan/typescript"
      ],
      "parserOptions": {
        "project": [
          "./tsconfig.json"
        ]
      }
    }
  ]
}
